@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 960px) {
    @content;
  }
}

body {
  color: #333;
  overflow-x: hidden;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: whitesmoke;
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.146);
}

.card {
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.146);
}

a {
  color: $mainBlue;
  // text-decoration: none;
}

// a:hover {
//   text-decoration: underline;
// }

p,
ul,
ol {
  // margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;

  // font-size: 1.15rem;
}

.page-section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  @include atSmall {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.generic-content {
  p,
  li {
    font-size: 1.15rem;
  }

  img {
    border-radius: 8px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $mainBlue;
    font-weight: 500;
  }
}
