// $beige: #f1faeeff;
// $mainYellow: #457b9dff;
// $mainBlue: #1d3557ff;
// $lightOrange: #ee964b;
// $darkOrange: #e63946ff;

// $red-pantone: #e63946ff;
// $honeydew: #f1faeeff;
// $non-photo-blue: #a8dadcff;
// $cerulean: #457b9dff;
// $berkeley-blue: #1d3557ff;

$beige: #faf0ca;
$mainYellow: #f4d35e;
$mainBlue: #0d3b66;
$lightOrange: #ee964b;
$darkOrange: #f95738;
