.btn {
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 1.19rem;
  padding: 12px 24px;
  transition: transform 0.3s ease;
  cursor: pointer;

  &--orange {
    background: linear-gradient(215deg, $lightOrange, #ef752a);
  }

  &--orange:hover {
    transform: scale(1.1);
    color: white !important;
  }

  &--blue {
    background-color: $mainBlue;
  }

  &--blue:hover {
    transform: scale(1.1);
  }

  &--large {
    font-size: 1.3rem;
    padding: 16px 34px;
    border-radius: 7px;
    @include atSmall {
      font-size: 1.9rem;
    }
  }

  &--small {
    font-size: 0.88rem;
    padding: 7px 13px;
    font-weight: 300;
  }

  &--inactive {
    background-color: transparent;
    cursor: default;
    color: #333;
  }
}

.btn:hover {
  text-decoration: none;
}
