.form {
  display: flex;
  flex-wrap: wrap;
  background-color: #faf0ca;
  padding: 20px;
  border-radius: 8px;
  align-items: center;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  & h4 {
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
    margin-top: 15px;
    font-weight: 400;
  }
}

// .remove-margin {
//   margin-top: 0 !important;
// }

// .form p {
//   margin-left: 0;
//   margin-right: 0;
//   margin-bottom: 15px;
//   margin-top: 15px;
// }

.form p i {
  font-size: 14px;
}

.wpcf7 textarea,
.wpcf7-select,
.wpcf7 input {
  border-radius: 8px;
  border: 0;
  padding: 5px;
  background-color: white;
}

.mandatory {
  color: #eb433e;
}

.wpcf7 input[type="submit"] {
  color: #ffffff;
  font-weight: 500;
  background: $mainBlue;
  padding: 15px 25px 15px 25px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.wpcf7 input:hover[type="submit"] {
  transition: all 2s;
}

.wpcf7 input:active[type="submit"] {
  background: #173f58;
}

@media (max-width: 456px) {
  .form-block {
    max-width: 300px; /* Reduced max-width for smaller screens */
    padding-bottom: 15px;
  }
  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 input[type="tel"],
  .wpcf7 input[type="file"],
  .wpcf7 input[type="date"],
  .wpcf7 textarea {
    max-width: 280px;
    width: 100%;
  }

  .wpcf7-form-control.wpcf7-select {
    // margin-bottom: 7px;
    max-width: 280px;
    width: 100%;
  }

  .remove-margin {
    margin-top: 15px !important;
  }
}
