.page-section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  @include atSmall {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.generic-content {
  p,
  li {
    font-size: 1.15rem;
  }

  img {
    border-radius: 8px;
  }
}
