// .headline {
//   color: $mainBlue;
// }

// .has-x-large-font-size,
// .has-large-font-size,
// .has-medium-font-size,
// .has-small-font-size {
//   color: teal;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   color: $mainBlue;
// }

////****************

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  // font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  //   "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  // font-family: "Roboto", "Lucida Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.headline {
  margin: 0;
  font-family: "Poppins", sans-serif;
  // color: $mainBlue;
  // font-weight: 600;

  /* Specific headline styles */
  &--large {
    // color: red !important;
    font-size: clamp(2.5rem, 5vw, 5rem);
    font-weight: 400; /* Slightly bold */
  }

  &--large-medium {
    // color: blueviolet !important;
    font-size: clamp(2rem, 4vw, 3.5rem);
    font-weight: 300; /* Regular */
  }

  &--medium {
    font-size: clamp(1.6rem, 3vw, 2.3rem);
    // color: blue !important;
    font-weight: 300; /* Medium */
  }

  &--small-plus {
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
    font-weight: 400; /* Regular */
    // color: green !important;
    line-height: 1.65;
  }

  &--small {
    font-size: clamp(1rem, 2vw, 1.4rem);
    font-weight: 300; /* Light */
    line-height: 1.65;
  }

  &--smaller {
    font-size: 0.875rem; /* Smaller text */
    font-weight: 200; /* Extra light */
    // color: orange;
    line-height: 1.65;
  }

  &--tiny {
    font-size: 0.75rem; /* Tiny text */
    font-weight: 300; /* Light */
    font-style: italic;
    // color: gray;
  }
}

/* Default styling for headings */
h1 {
  // color: red !important;
  font-size: clamp(2.5rem, 5vw, 5rem);
  font-weight: 400; /* Slightly bold */
}

h2 {
  font-size: clamp(1.6rem, 3vw, 2.3rem);
  // color: blue !important;
  font-weight: 400; /* Medium */
}

h3 {
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  font-weight: 400; /* Regular */
  // color: green !important;
}

h4 {
  // color: yellow !important;
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-weight: 300; /* Light */
}

h5 {
  font-size: 0.875rem; /* Smaller text */
  font-weight: 200; /* Extra light */
  // color: orange;
}

h6 {
  font-size: 0.75rem; /* Tiny text */
  font-weight: 300; /* Light */
  font-style: italic;
  // color: gray;
}

/* Paragraph variations */
p {
  font-size: 1rem;
  font-weight: 400;
}

.has-x-large-font-size {
  font-size: clamp(2.5rem, 5vw, 5rem) !important;
  font-weight: 400; /* Slightly bold */
}

.has-large-font-size {
  // color: blueviolet !important;
  font-size: clamp(2rem, 4vw, 3.5rem) !important;
  font-weight: 300; /* Regular */
}

.has-medium-font-size {
  font-size: clamp(1.6rem, 3vw, 2.3rem) !important;
  // color: blue !important;
  font-weight: 300; /* Medium */
}

.has-small-font-size {
  font-size: clamp(1rem, 2vw, 1.4rem) !important;
  font-weight: 300; /* Light */
}
