.page-banner {
  background-color: #000000;
  padding: 80px 0 40px 0;
  position: relative;
  @include atSmall {
    padding: 160px 0 90px 0;
  }

  &__bg-image {
    opacity: 0.55;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-attachment: fixed;
  }

  &__intro p {
    margin: 0;
  }
}
