.site-footer {
  // background-image: linear-gradient(#fff, #ececece6);
  background-color: $mainBlue;

  &__flex-container--row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0 20px 0;
  }

  &__nav-list ul {
    display: flex; /* Make the list items horizontal */
    list-style-type: none; /* Optional: Remove default bullet points */
    margin: 0;
    padding: 0;
  }

  &__nav-list ul li {
    margin-right: 20px;
  }

  &__nav-list a {
    color: white;
  }

  &__nav-list ul li:last-child {
    margin-right: 0; /* Remove extra margin on the last item */
  }

  &__buttom-container {
    // align-items: center;
    // padding-bottom: 5px;
    // padding-top: 5px;
    // justify-content: center;
    background-color: $mainBlue;
    // color: white;
    // display: flex;
    // justify-content: space-around;
    // font-size: 14px;
    // margin-top: 20px;
  }
}
