.site-footer {
  background-color: $mainBlue;

  &__flex-container--row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    align-items: center;
  }

  &__nav-list ul {
    display: flex; /* Make the list items horizontal */
    list-style-type: none; /* Optional: Remove default bullet points */
    margin: 0;
    padding: 0;
  }

  &__nav-list ul li {
    margin-right: 20px;
  }

  &__nav-list a {
    color: white;
  }

  &__nav-list ul li:last-child {
    margin-right: 0; /* Remove extra margin on the last item */
  }

  &__buttom-container {
    background-color: $mainBlue;
  }
}
